/*
* @Author: zhanglei
* @Date:   2018-07-12 14:21:17
* @Last Modified by:   zhanglei
* @Last Modified time: 2018-07-12 14:58:23
*/
/* 添加按钮样式 */

.cus-a-add {
  position: relative;
  top: -9px;
}

.cus-a-add > button {
  padding-left: 10px;
  padding-right: 10px;
}