tr td:nth-child(4) img {
  width: 50px;
  height: 50px;
}

.cropper-modal {
  background: #333;
}

.modal-box {
  width: 620px !important;
  padding-top: 5%;
}

.tailoring_margin {
  margin: 15px 0;
  padding: 0 115px;
}

.tailoring_area {
  width: 343px;
  height: 343px;
  background: #333333;
  padding: 0 25px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.tailoring_area img {
  width: 100%;
}

.tailoring_files {
  margin-left: 40px;
}

.jcrop-holder {
  background-color: none !important;
}

.center {
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.rota {
  display: inline-block;
  width: 27px;
  height: 29px;
  background: url(../images/rota.png) no-repeat;
  background-size: 100% 100%;
  float: left;
  margin-left: 23%;
  margin-top: -10px;
}

.rota_text {
  float: left;
  margin-left: 5px;
  font-size: 14px;
  color: #BEBEBE;
}

/* 添加按钮样式 */

.cus-a-add {
  position: relative;
  top: -9px;
}

.cus-a-add > button {
  padding-left: 10px;
  padding-right: 10px;
}

/* 表格样式 */

.fixed-table-body .cus-table > thead >tr > th:last-child {
  background-color: pink;
}

/* 列固定样式 */

.fixed-table-column:nth-child(3) > table {
  box-shadow: -5px 0 15px 0 rgba(183,183,183,0.50);
}