<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudyoung.baic.webapi.dao.DealerInfoMapper">
    <select id="getDealerListByQuery" parameterType="java.util.Map"
            resultType="com.cloudyoung.baic.webapi.vo.DealerInfoVo">
        SELECT 	dealer_id AS dealerId,
        dealer_code AS dealerCode,
        dealer_name AS dealerName,
        service_address AS address,
        service_call AS serviceCall,
        sale_call AS saleCall,
        help_call AS helpCall,
        service_longitude AS longitude,
        service_latitude AS latitude,
        (
        6371 * acos (
        cos ( radians(#{latitude}) )
        * cos( radians( service_latitude ) )
        * cos( radians( service_longitude ) - radians(#{longitude}) )
        + sin ( radians(#{latitude}) )
        * sin( radians( service_latitude ) )
        )
        ) AS distance
        FROM dealer_info
        WHERE is_active=1
        and service_address != ''
        and city_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY distance
    </select>
    <select id="getDealerListByCityId" parameterType="java.util.List"
            resultType="com.cloudyoung.baic.webapi.vo.DealerInfoVo">
        SELECT 	dealer_id AS dealerId,
        dealer_code AS dealerCode,
        dealer_name AS dealerName,
        service_address AS address,
        service_call AS serviceCall,
        sale_call AS saleCall,
        help_call AS helpCall,
        service_longitude AS longitude,
        service_latitude AS latitude
        FROM dealer_info
        WHERE is_active=1
        and service_address != ''
        and city_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>