<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudyoung.baic.webapi.dao.PushAlertInfoMapper">
    <resultMap id="PushAlertMap" type="com.byebye.kzj.webapi.vo.PushListVo">
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="push_content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="getPushListByUserId" parameterType="map" resultMap="PushAlertMap">
        select title,push_content,create_time,type
        from push_alert_info
        where is_active = 1 and push_status = 1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="createTime !=null and createTime != ''">
            and create_time &lt; #{createTime}
        </if>
        union
        select '系统消息' as title, push_content,create_time,0 as type
        from public_push
        where is_active = 1 and push_status = 1
        <if test="createTime !=null and createTime != ''">
            and create_time &lt; #{createTime}
        </if>
        order by create_time desc
        <if test="pageSize != null">
            limit #{pageSize}
        </if>
    </select>

</mapper>