<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudyoung.baic.webapi.dao.TestDriveExterInfoMapper">
    <insert id="saveTestDriveExter" parameterType="java.util.List">
        insert into test_drive_exter_info (test_id, dealer_id,is_active,create_time,update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.testId}, #{item.dealerId},1,now(),now())
        </foreach>
    </insert>
</mapper>
