<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudyoung.baic.webapi.dao.UserCarInfoMapper">
    <resultMap id="BaseResultMap" type="com.cloudyoung.baic.webapi.model.UserCarInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="vin_code" jdbcType="VARCHAR" property="vinCode"/>
        <result column="car_code" jdbcType="VARCHAR" property="carCode"/>
        <result column="color_name" jdbcType="VARCHAR" property="colorName"/>
        <result column="color_id" jdbcType="INTEGER" property="colorId"/>
        <result column="serial_id" jdbcType="INTEGER" property="serialId"/>
        <result column="car_info" jdbcType="VARCHAR" property="carInfo"/>
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="vin_url" jdbcType="VARCHAR" property="vinUrl"/>
        <result column="engine_num" jdbcType="VARCHAR" property="engineNum"/>
        <result column="is_active" jdbcType="TINYINT" property="isActive"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, user_id, uuid, vin_code, car_code,color_name,color_id,serial_id, car_info,cover_url, vin_url, engine_num, is_active, create_time,
    update_time
  </sql>
    <select id="selectByExample" parameterType="com.cloudyoung.baic.webapi.model.UserCarInfoExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user_car_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_car_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_car_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.cloudyoung.baic.webapi.model.UserCarInfoExample">
        delete from user_car_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.cloudyoung.baic.webapi.model.UserCarInfo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_car_info (user_id, vin_code, uuid, car_code,color_name,color_id,serial_id,
        car_info,cover_url, vin_url, engine_num,
        is_active, create_time, update_time
        )
        values (#{userId,jdbcType=INTEGER}, #{vinCode,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{carCode,jdbcType=VARCHAR},
        #{colorName,jdbcType=VARCHAR},#{colorId,jdbcType=INTEGER},#{serialId,jdbcType=INTEGER},
        #{carInfo,jdbcType=VARCHAR},#{coverUrl,jdbcType=VARCHAR},#{vinUrl,jdbcType=VARCHAR},
        #{engineNum,jdbcType=VARCHAR},
        #{isActive,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.cloudyoung.baic.webapi.model.UserCarInfo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_car_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="vinCode != null">
                vin_code,
            </if>
            <if test="uuid !=null">
                uuid,
            </if>
            <if test="carCode != null">
                car_code,
            </if>
            <if test="colorName != null">
                color_name,
            </if>
            <if test="colorId != null">
                color_id,
            </if>
            <if test="serialId != null">
                serial_id,
            </if>
            <if test="carInfo != null">
                car_info,
            </if>
            <if test="coverUrl != null">
                cover_url,
            </if>
            <if test="vinUrl != null">
                vin_url,
            </if>
            <if test="engineNum != null">
                engine_num,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="vinCode != null">
                #{vinCode,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="carCode != null">
                #{carCode,jdbcType=VARCHAR},
            </if>
            <if test="colorName != null">
                #{colorName,jdbcType=VARCHAR},
            </if>
            <if test="colorId != null">
                #{colorId,jdbcType=INTEGER},
            </if>
            <if test="serialId != null">
                #{serialId,jdbcType=INTEGER},
            </if>
            <if test="carInfo != null">
                #{carInfo,jdbcType=VARCHAR},
            </if>
            <if test="coverUrl != null">
                #{coverUrl,jdbcType=VARCHAR},
            </if>
            <if test="vinUrl != null">
                #{vinUrl,jdbcType=VARCHAR},
            </if>
            <if test="engineNum != null">
                #{engineNum,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cloudyoung.baic.webapi.model.UserCarInfoExample"
            resultType="java.lang.Long">
        select count(*) from user_car_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user_car_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.vinCode != null">
                vin_code = #{record.vinCode,jdbcType=VARCHAR},
            </if>
            <if test="record.uuid != null">
                uuid = #{record.uuid,jdbcType=VARCHAR},
            </if>
            <if test="record.carCode != null">
                car_code = #{record.carCode,jdbcType=VARCHAR},
            </if>
            <if test="record.colorName != null">
                color_name = #{record.colorName,jdbcType=VARCHAR},
            </if>
            <if test="record.colorId != null">
                color_id = #{record.colorId,jdbcType=INTEGER},
            </if>
            <if test="record.serialId != null">
                serial_id = #{record.serialId,jdbcType=INTEGER},
            </if>
            <if test="record.carInfo != null">
                car_info = #{record.carInfo,jdbcType=VARCHAR},
            </if>
            <if test="record.coverUrl != null">
                cover_url = #{record.coverUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.vinUrl != null">
                vin_url = #{record.vinUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.engineNum != null">
                engine_num = #{record.engineNum,jdbcType=VARCHAR},
            </if>
            <if test="record.isActive != null">
                is_active = #{record.isActive,jdbcType=TINYINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user_car_info
        set id = #{record.id,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        vin_code = #{record.vinCode,jdbcType=VARCHAR},
        uuid = #{record.uuid,jdbcType=VARCHAR},
        car_code = #{record.carCode,jdbcType=VARCHAR},
        color_name = #{record.colorName,jdbcType=VARCHAR},
        color_id = #{record.colorId,jdbcType=INTEGER},
        serial_id = #{record.serialId,jdbcType=INTEGER},
        car_info = #{record.carInfo,jdbcType=VARCHAR},
        cover_url = #{record.coverUrl,jdbcType=VARCHAR},
        vin_url = #{record.vinUrl,jdbcType=VARCHAR},
        engine_num = #{record.engineNum,jdbcType=VARCHAR},
        is_active = #{record.isActive,jdbcType=TINYINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.cloudyoung.baic.webapi.model.UserCarInfo">
        update user_car_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="vinCode != null">
                vin_code = #{vinCode,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                uuid =#{uuid,jdbcType=VARCHAR},
            </if>
            <if test="carCode != null">
                car_code = #{carCode,jdbcType=VARCHAR},
            </if>
            <if test="colorName != null">
                color_name = #{colorName,jdbcType=VARCHAR},
            </if>
            <if test="colorId != null">
                color_id = #{colorId,jdbcType=INTEGER},
            </if>
            <if test="serialId != null">
                serial_id = #{serialId,jdbcType=INTEGER},
            </if>
            <if test="carInfo != null">
                car_info = #{carInfo,jdbcType=VARCHAR},
            </if>
            <if test="coverUrl != null">
                cover_url = #{coverUrl,jdbcType=VARCHAR},
            </if>
            <if test="vinUrl != null">
                vin_url = #{vinUrl,jdbcType=VARCHAR},
            </if>
            <if test="engineNum != null">
                engine_num = #{engineNum,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cloudyoung.baic.webapi.model.UserCarInfo">
    update user_car_info
    set user_id = #{userId,jdbcType=INTEGER},
      vin_code = #{vinCode,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      car_code = #{carCode,jdbcType=VARCHAR},
      color_name = #{colorName,jdbcType=VARCHAR},
      color_id = #{colorId,jdbcType=INTEGER},
      serial_id = #{serialId,jdbcType=INTEGER},
      car_info = #{carInfo,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      vin_url = #{vinUrl,jdbcType=VARCHAR},
      engine_num = #{engineNum,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>