<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudyoung.baic.webapi.dao.UserLocationHistoryMapper">
  <resultMap id="BaseResultMap" type="com.cloudyoung.baic.webapi.model.UserLocationHistory">
    <id column="local_id" jdbcType="INTEGER" property="localId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="amap_longitude" jdbcType="DECIMAL" property="amapLongitude" />
    <result column="amap_latitude" jdbcType="DECIMAL" property="amapLatitude" />
    <result column="baidu_longitude" jdbcType="DECIMAL" property="baiduLongitude" />
    <result column="baidu_latitude" jdbcType="DECIMAL" property="baiduLatitude" />
    <result column="is_active" jdbcType="TINYINT" property="isActive" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    local_id, user_id, source, amap_longitude, amap_latitude, baidu_longitude, baidu_latitude, 
    is_active, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.cloudyoung.baic.webapi.model.UserLocationHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_location_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_location_history
    where local_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_location_history
    where local_id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cloudyoung.baic.webapi.model.UserLocationHistoryExample">
    delete from user_location_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cloudyoung.baic.webapi.model.UserLocationHistory">
    <selectKey keyProperty="localId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_location_history (user_id, source, amap_longitude, 
      amap_latitude, baidu_longitude, baidu_latitude, 
      is_active, create_time, update_time
      )
    values (#{userId,jdbcType=INTEGER}, #{source,jdbcType=TINYINT}, #{amapLongitude,jdbcType=DECIMAL},
      #{amapLatitude,jdbcType=DECIMAL}, #{baiduLongitude,jdbcType=DECIMAL}, #{baiduLatitude,jdbcType=DECIMAL}, 
      #{isActive,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cloudyoung.baic.webapi.model.UserLocationHistory">
    <selectKey keyProperty="localId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_location_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="amapLongitude != null">
        amap_longitude,
      </if>
      <if test="amapLatitude != null">
        amap_latitude,
      </if>
      <if test="baiduLongitude != null">
        baidu_longitude,
      </if>
      <if test="baiduLatitude != null">
        baidu_latitude,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="amapLongitude != null">
        #{amapLongitude,jdbcType=DECIMAL},
      </if>
      <if test="amapLatitude != null">
        #{amapLatitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLongitude != null">
        #{baiduLongitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLatitude != null">
        #{baiduLatitude,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cloudyoung.baic.webapi.model.UserLocationHistoryExample" resultType="java.lang.Long">
    select count(*) from user_location_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_location_history
    <set>
      <if test="record.localId != null">
        local_id = #{record.localId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=TINYINT},
      </if>
      <if test="record.amapLongitude != null">
        amap_longitude = #{record.amapLongitude,jdbcType=DECIMAL},
      </if>
      <if test="record.amapLatitude != null">
        amap_latitude = #{record.amapLatitude,jdbcType=DECIMAL},
      </if>
      <if test="record.baiduLongitude != null">
        baidu_longitude = #{record.baiduLongitude,jdbcType=DECIMAL},
      </if>
      <if test="record.baiduLatitude != null">
        baidu_latitude = #{record.baiduLatitude,jdbcType=DECIMAL},
      </if>
      <if test="record.isActive != null">
        is_active = #{record.isActive,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_location_history
    set local_id = #{record.localId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      source = #{record.source,jdbcType=TINYINT},
      amap_longitude = #{record.amapLongitude,jdbcType=DECIMAL},
      amap_latitude = #{record.amapLatitude,jdbcType=DECIMAL},
      baidu_longitude = #{record.baiduLongitude,jdbcType=DECIMAL},
      baidu_latitude = #{record.baiduLatitude,jdbcType=DECIMAL},
      is_active = #{record.isActive,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloudyoung.baic.webapi.model.UserLocationHistory">
    update user_location_history
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="amapLongitude != null">
        amap_longitude = #{amapLongitude,jdbcType=DECIMAL},
      </if>
      <if test="amapLatitude != null">
        amap_latitude = #{amapLatitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLongitude != null">
        baidu_longitude = #{baiduLongitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLatitude != null">
        baidu_latitude = #{baiduLatitude,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where local_id = #{localId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloudyoung.baic.webapi.model.UserLocationHistory">
    update user_location_history
    set user_id = #{userId,jdbcType=INTEGER},
      source = #{source,jdbcType=TINYINT},
      amap_longitude = #{amapLongitude,jdbcType=DECIMAL},
      amap_latitude = #{amapLatitude,jdbcType=DECIMAL},
      baidu_longitude = #{baiduLongitude,jdbcType=DECIMAL},
      baidu_latitude = #{baiduLatitude,jdbcType=DECIMAL},
      is_active = #{isActive,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where local_id = #{localId,jdbcType=INTEGER}
  </update>
</mapper>