<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byebye.kzj.dao.UserInfoMapper">
    <select id="getUserListByQuery" parameterType="com.byebye.kzj.vo.admin.UserQueryVo"
            resultType="com.byebye.kzj.vo.admin.UserVo">
        select
        t1.user_id as userId,t1.user_name AS userName,t1.sex,t1.avatar,
        t1.create_time AS createTime,t1.is_talk AS isTalk,t1.user_type AS userType,
        t1.is_validate AS isValidate,t1.real_name AS realName,t1.id_code AS idCode,
        t2.vin_code AS vinCode,t1.article_count AS articleCount
        from user_info t1
        left join user_car_info t2 on t1.user_id=t2.user_id and t2.is_active=1
        where t1.is_active=1
        <if test="userId != null">
            and t1.user_id=#{userId}
        </if>
        <if test="userName != null and userName!=''">
            and t1.user_name like '%${userName}%'
        </if>
        <if test="isTalk != null and isTalk>-1">
            and t1.is_talk = #{isTalk}
        </if>
        <if test="userType != null and userType>-1">
            and t1.user_type=#{userType}
        </if>
        <if test="startTime != null and startTime!=''">
            and t1.create_time>=#{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and t1.create_time&lt;=#{endTime}
        </if>
        order by t1.create_time desc
    </select>
</mapper>